{
  "proseWrap": "always",
  "overrides": [
    {
      "files": "*.@(ts|js|jsx|tsx)",
      "options": { "tabWidth": 4 }
    },
    {
      "files": "*.yml",
      "options": { "printWidth": 160 }
    }
  ]
}
